body {
    background-color: #BA00FF;
    color: white;
    background-image:url('../img/gradient.png');
    background-position: top;
    background-repeat: no-repeat;
}
a {
    text-decoration: none;
    color:white;
    font-weight:bold;
}
h1,h2 {
	margin: 0px;
}
table {
	margin: auto;
}
div.videotitle {
	text-align:center;
}
